<section class="container">
  <div class="row mt-5">
    <div class="col-lg-3 col-sm-12">
      <h1>Aviexx</h1>
      <b>Web based IOT platform to monitor & diagnose HVAC systems utilizing Angular & Sails.js</b>
    </div>
    <div class="col-lg-9 col-sm-12 mt-5">
      <ul>
        <li>Designed responsive interfaces with HTML & (S)CSS utilizing Media Queries & Bootstrap</li>
        <hr>
        <li>Implemented QR code scanning features allowing for product tracking & management</li>
        <hr>
        <li>Developed tools with JavaScript to process HVAC system data & allow for diagnostic analysis</li>
        <hr>
        <li>Graphed real time system temperatures & fuel use data allowing users to monitor their systems</li>
        <hr>
        <li>Planned REST API & database design with business managers & development teams</li>
        <hr>
        <li>Developed an alert system that keeps users up to date on operating functionality</li>
        <hr>
        <li>Maintained applications & systems, providing on demand support when needed</li>
        <hr>
        <li>Debugged high complexity functional problems with minimal guidance</li>
        <hr>
        <li>Translated client requirements into effective software solutions</li>
        <hr>
        <li>Worked efficiently with a team both in office & from home</li>
        <hr>
        <li>Collaborated with marketing team to design new content & materials</li>
        <hr>
      </ul>
    </div>
  </div>
</section>