<section class="container">
  <div class="row mt-5">
    <div class="col-lg-3 col-sm-12">
      <h1>
        <a href="http://aviexx.com">
          Aviexx
        </a>
      </h1>
      <b class="py-1">Aviexx is a subscription based technology that links all parts of the HVAC industry into a single Ecosystem</b>
      <b class="py-1 d-block">Built with <a href="https://angular.io/"> Angular </a> &  <a href="https://sailsjs.com/"> Sails.js </a></b>
    </div>
    <div class="col-lg-9 col-sm-12 mt-5">
      <ul>
        <li>Developed a <a href="http://www.aviexx.com/home-page?p=tech"> web based IOT platform </a> to monitor & diagnose HVAC systems utilizing Angular & Sails.js</li>
        <hr>
        <li>Designed <a href="http://www.aviexx.com/home-page?p=service"> responsive interfaces </a> with HTML & (S)CSS utilizing Media Queries & Bootstrap</li>
        <hr>
        <li>Implemented QR code scanning features allowing for product tracking & management</li>
        <hr>
        <li>Developed tools with JavaScript to process HVAC system data & allow for diagnostic analysis</li>
        <hr>
        <li>Graphed real time system temperatures & fuel use data allowing users to monitor their systems</li>
        <hr>
        <li>Planned REST API & database design with business managers & development teams</li>
        <hr>
        <li>Developed an  <a href="https://www.aviexx.com/home-page?p=management">alert/scheduling system</a>  that keeps users up to date on operating functionality</li>
        <hr>
        <li>Maintained applications & systems, providing on demand support when needed</li>
        <hr>
        <li>Debugged high complexity functional problems with minimal guidance</li>
        <hr>
        <li>Translated client requirements into effective software solutions</li>
        <hr>
        <li>Worked efficiently with a team both in office & from home</li>
        <hr>
        <li>Collaborated with marketing team to design new content & materials</li>
        <hr>
      </ul>
    </div>
  </div>
</section>